.div-header{
    background-color: blue;
}
.header{
    height: 100%;
    gap: 3rem;


    padding: 1rem  12rem;
    display: flex;
    
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgb(187, 174, 57);

}
.header img{
    height: 6rem;
    border-radius: 2.5rem;
}
.header h1{
    color: white;
    box-shadow: 3px 3px 3px 3px rgb(79, 112, 114);
}
